nav {
    height: 10vh;
    color: white;
    background-color: rgb(44, 40, 40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

nav span {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    all: unset;
    cursor: pointer;
}

nav a:hover {
    color: gray;
}